@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: 'Machina';
  src: url('/fonts/Machina.woff') format('woff');
}

:root {
  --background: #fdfdfd;
  --foreground: #111111;
}

.dark {
  --background: #222222;
  --foreground: #eeeeee;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Machina', sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
  user-select: none;
}